<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="style.css" rel="stylesheet" />
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div ng-app="my-app" ng-controller="MainController">
    <ul class="droppable-items">
        <li ng-repeat="printer in printers" class="droppable-item">
            <div id="{{ printer.id }}" draggable="true" droppable="true"  class="container">
                <header><h1>{{printer.name }} [{{ printer.id }}]</h1></header>
                <section class="content">

                </section>
            </div>
        </li>
    </ul>

    <ul class="droppable-items">
        <li ng-repeat="device in devices" class="droppable-item">
            <div id="{{ device.id }}" draggable="true" droppable="true" class="container">
                <header><h1>{{device.name}} [{{ device.id }}]</h1></header>
                <section class="content">

                </section>
            </div>
        </li>
    </ul>

</div>

</body>
</html>